.rr{
    text-align: center;
    color:#343A40 ;
    font-size: 75px;
    color: rgb(10, 172, 37);
    font-family: cursive;
    font-weight: bold;
}

.g{
    color: white;
    text-align: center;
    
    
}

  