@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

input {
  width: 300px !important;
}
.form-group {
  text-align: left;
}

.o {
  font-size: 400%;
}
